{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>


<div class="example-wrapper">
    <div class="row">
        <p>Для того щоб додати оголошення є два варіанта</p>
        <ul>
            <li>потрібно зайти в телеграм і написати боту @mu_sound_bot і воно автоматично додастя на дошку</li>
            <li>через сайт (дана можливість в процесі створення)</li>
        </ul>

        
    </div>

</div>
{% endblock %}
